<h1>To Do</h1>
<style>

   body{
      background-color: #5ea2c3;
   }

   h1{
      text-align: center;
   }

   input{
       width: 100%;
      padding: 12px 20px;
      margin:8px 0:
      box-sizing:border-box;
   }

   .btn{
      background-color: green;
      text-decoration:none;
       float: right;

   }
   .btn-red{
      background-color: red;
      text-decoration:none;
       float: right;
   }

   .center-column{
      width:90%;
      margin:20px;
      padding:20px;
      background-color:#fff;
      border-radius:3px;
      box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
   }

   .item-row{
      border-radius: 3px;
      margin:5px;
      padding:5px;
      background-color:#fff;
      font-size:16px;





</style>

<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" name="create task">
</form>


{% for task in tasks%}
   <div class="center-column">
       <a class="btn" href="{% url 'update' task.id%}">Update</a>
       <a class="btn-red" href="{% url 'delete' task.id%}">Delete</a>
       {% if task.complete == True %}
       <strike>{{task}}</strike>
       {% else %}
        <p class="item-row" >{{task}}</p>
       {% endif %}
   </div>
{% endfor %}
